.DS_Store
*.log
*.pem
*.key
*.p12
*.mobileprovision

**/node_modules/
**/.next/
**/.vercel/
**/coverage/
**/*.tsbuildinfo
backend/*D:*

**/.env
**/.env.*
!**/.env.example
backend/test-unimatrix*.js
test-*.js

